* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* corpo */
body {
    text-align: left;
    background-color: #e6e6e6;
    /* overflow: hidden; */
}

.body-home{
    display: flex; 
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    background-color: white;
}

/* menu principal */

.content-menu-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    background-color: gray;
    text-align: center;
    height: 70px;
}

.content-menu-home nav {
    background-color: white(95, 187, 156);
    position: absolute;
    padding: 0 20px;
    height: 70px;
    align-content: center;
    right: 0;
    margin-top: 0;
}

.contentNav-home {
    list-style: none;
    padding: 0;
    width: 500px;
    display: flex;
    align-items: flex-end;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #a8ccfc;
    border-radius: 5px;
}

/* submenu */

nav ul .submenu-home {
    display: none;
    position: absolute;
    background-color: rgb(221, 221, 221);
    list-style: none;
    top: 0;
    left: 0;
    width: 120px;
    border-radius: 5px;
}

nav ul li:hover .submenu-home {
    display: block;
    text-align: left;
}

nav ul .submenu-home li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
}

/* home */

.container-home-realese{
    margin-top: 9dvh;
    /* align-items: center; */
    justify-content: center;
    height: 660px;
    width: 85%;
    display: flex;
    background-color: #5937E0;
    border-radius: 40px;
    flex-direction: column;
}

.leftsubcont-home-realese{
    background-color: white;
    width: 400px auto;
}

/* Imagem */

img {
    display: flex;
    height: 70px;
    width: 245px;
    align-items: center;
}

/* Rodapé */

.footer-home-div { 
    display: flex;
    justify-content: center;
    height: 18vh;
    width: 100%;             
    background-color: #444444;      
    color: white;               
    padding: 20px;
    margin: 0;      
}

.footer-content-home {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.footer-home p {
    margin: 0;
    font-size: 14px;    
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;

}

.rodape-home ul {
    list-style: none;
    padding: 0;
    display: flex;                
    justify-content: space-between;
    /* gap: 20px; */
    margin-top: 10px; 
}


.rodape-home ul li a {
    text-decoration: none;
    color: white;                
    font-size: 14px;
}

.rodape-home ul li a:hover {
    color: #28a745;
}