* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* corpo */


.body-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fbfbff;
    font-family: 'Roboto', sans-serif;
}

/* menu principal */

.content-menu-home {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 70px;
    border-bottom: solid 1px #ccc;
}

.content-menu-home nav {
    background-color: white(95, 187, 156);
    position: absolute;
    padding: 0 20px;
    height: 70px;
    align-content: center;
    right: 0;
    margin-top: 0;
}

.contentNav-home {
    list-style: none;
    padding: 0;
    width: 500px;
    display: flex;
    align-items: flex-end;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
    padding: 10px 15px;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #a8ccfc;
    border-radius: 5px;
}

/* submenu */

nav ul .submenu-home {
    display: none;
    position: absolute;
    background-color: rgb(221, 221, 221);
    list-style: none;
    top: 0;
    left: 0;
    width: 120px;
    border-radius: 5px;
}

nav ul li:hover .submenu-home {
    display: block;
    text-align: left;
}

nav ul .submenu-home li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
}

/* home */

/* container-home-realese */

.container-home-realese {
    margin-top: 6%;
    align-items: center;
    height: 660px;
    width: 80%;
    display: flex;
    background: linear-gradient(to bottom, #8a63ff, #300080, #260064, #040024);
    border-radius: 40px;
    flex-direction: row;
    position: relative;
    z-index: 0;
}

.container-home-realese::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;

    background-image: url('https://api.grupojcf.com.br/storage/images/7fb56e6fab110a7231843b4ef536846d6eec945b.png');
    background-position: center;
    background-size: 680px auto;
    background-repeat: no-repeat;
    background-position: 70% 26vh;
    z-index: -1;
    opacity: 85%;
    filter: blur(6px);
}

/* leftsubcont-home-realese */

.leftsubcont-home-realese {
    margin: 50px 0 50px 100px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 52%;
    height: 300px;
    padding: 0;
}

.realese-h1 {
    padding: 0;
    color: white;
    margin: 0 0 30px 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.paragraf-release {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.novidades {
    margin: 30px 0 0 0;
    font-size: 20px;
    background-color: #FF9E0C;
    color: #ffffff;
    padding: 10px;
    width: 180px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.leftsubcont-home-realese button:hover {
    background-color: #5937e000;
    color: #91ff00;
    transition: all 0.5s;
    transform: scale(1.04);
    font-family: 'Roboto', sans-serif;
}

/* rigthsubcont-home-realese */

.form-book-car {
    align-content: center;
    width: 450px;
    margin: 50px;
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
}

.form-book-car h2 {
    padding: 0;
    margin: 0 0 17px 0;
    text-align: center;
}

.form-book-car input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    border-radius: 12px;
}

.ano {
    display: flex;
    flex-direction: row;
    width: 100% auto;
    gap: 5px;
}

.kmtragem {
    display: flex;
    flex-direction: row;
    width: 100% auto;
    gap: 5px;
}

.carroIdeal {
    margin: 5px 0 0 0;
    font-size: 18px;
    background-color: #FF9E0C;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    border-radius: 13px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.rigthsubcont-home-realese button:hover {
    background-color: #ffffff;
    color: #FF9E0C;
    transition: all 0.5s;
    transform: scale(1.04);
    font-family: 'Roboto', sans-serif;
}

input[type=date] {
    padding: 0.6em;
    text-align: end;
}

/* second-container */

.second-container {
    margin: 60px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    text-align: center;
}

.second-container a {
    text-decoration: none;
    color: black;
}

.second-container a h4 {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.second-container-veiculos h4 {
    margin-top: 20px;
}

.second-container-favorito h4 {
    margin-top: 20px;
}

/* third-container */

.third-container {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 0;
}

.subthird-container {
    height: 100%;
    width: 70%;
    text-decoration: none;
}

.subthird-container a {
    text-decoration: none;
}

.newsletter {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3em;
}

.img-newsletter {
    border-radius: 26px;
    height: 100%;
    width: 60%;
    padding: 1em;
    font-size: 0.8em;

    background-image: url("https://s2-g1.glbimg.com/0pWPD1Y3gbSxTXccoILu-zODEfc=/336x262:3295x2082/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2025/J/b/a41Qk9TkyxIhGTWLEByw/whatsapp-image-2025-03-02-at-12.52.28.jpeg");
    background-repeat: no-repeat;
    background-size: 119% auto;
    background-position: 70% 0;

    display: flex;
    align-items: end;


}

.img-newsletter a>h1 {
    color: white;
}

.containernewsletter {
    width: 35%;
    height: 90%;
    display: flex;
    margin: 0.5em;
}

.topics-newsletter-group {
    display: flex;
    align-items: center;
    gap: 1em;
}

.topics-newsletter-group > h2{
    font-size: 2.3vh;
}

.span-topic {
    background-color: #5937E0;

    width: 0.3em;
    color: #fff;
    border-radius: 50em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.95em;
}

.topics-newsletter-group h2{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2.3vh;
}

.topics-newsletter-group-p {
    margin-top: 1em;
    color: #4B5563;
    font-size: 2vh;
    margin-bottom: 1.3em;
}

/* fourth-container */

.fourth-container {
    width: 80%;
    margin: 60px 0;
}

.subfourth-container {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
}

.subfourth-container>a {
    padding: 0 10px;
}

.subfourth-container>h1 {
    font-size: 50px;
}

/* catalogo-Info */

.container-car-lote {
    margin: 25px 0;
}

.container-car-lote-infoCar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.CarInfo {
    margin: 10px 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 8px;
    min-width: 32%;
    font-weight: normal;
}

.title {
    font-weight: normal;
}

.info-Car {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.info-Car svg {
    margin-right: 4px;
}

.info-Car p {
    display: flex;
}

.info-Car>a {
    display: flex;
    padding: 7px 0.01em;
    border-radius: 2em;
    font-size: 0.9em;
    border: solid 1px rgb(212, 212, 212);
}

.info-Car>a>img {
    height: 20px;
}

.info-Car a:hover {
    background-color: #ff004c;
    transition: all 0.5s;
    transform: scale(1.14);
}

.CarInfo>img {
    height: 19em;
    border-radius: 6px;
    margin: 1em 0;
}

.info-car-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

.info-title {
    font-size: 20px;
    font-weight: 600;
}

.number-info-car {
    align-items: center;
}

.info-date-car {
    color: #4B5563;
    gap: 0.5em;
    display: flex;
    margin-bottom: 0.5em;
}

.info-KM-car {
    color: #4B5563;
    display: flex;
    gap: 0.5em;
}

.prices {
    color: #4B5563;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    color: #1B0088;
    font-size: 2em;
    font-weight: 600;
}

.info-type-button {
    margin-top: 10px;
    background-color: #1B0088;
    color: #fff;
    border-radius: 6px;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
    border: none;
    font-size: 20px;
}

.info-car-bottom button:hover {
    background-color: #FF9E0C;
    color: #ffffff;
    transition: all 0.2s;
    font-family: 'Roboto', sans-serif;
}

.info-type-button a {
    text-decoration: none;
}

/* Imagem */

.driveIcon {
    display: flex;
    width: 240px;
    align-items: center;
}

.VolkswagenTera {
    width: 545px;
}

.comparar {
    width: 300px;
}

.coracao {
    width: 200px;
}

.carroComprar {
    width: 200px;
}









































/* Rodapé */

.footer-home-div {
    background-color: #260064;
    color: #040020;
    width: 100%;
    flex-direction: column;
}


.footer-info {
    background-color: #91ff00;
    margin: 3em;
}

.contact-footer {
    background-color: violet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.adress-footer span {
    background-color: orange;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
}

.contact-footer > img {
    width: 14em;
    height: 4em;
}

.adress-footer{
    display: flex;
    align-items: center;
    gap: 0.5em;
}




.container-nav-footer {
    background-color: #ccc;
    display: flex;
    flex-direction: row;
}




.socialmedia {
    background-color: #7235d4;
    width: 28%;
    font-size: 1.43em;
}

.socialmedia > p {
    background-color: #c8ff7f;
    margin-top: 2.4em;
    margin-bottom: 1.3em;
}

.nav-footer-info{
    background-color: #91ff00;
    display: flex;
}

.navfooter-info{
    background-color: #ff004c;
    display: flex;
}

.links-nav-container{
    background-color: red;  
    display: flex;
    flex-direction: column;
}

.links-nav-container > h2{
    margin-left: 1em;
}

.links-nav-container > ul {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
